@model JAOAssessment.Models.Vehicle

@{
    ViewData["Title"] = "Create New Vehicle Configuration";
}

<h1>Create</h1>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class = "row">
                <div class = "col-md-6">
                    <div class="form-group">
                        <label asp-for="Model" class="control-label"></label>
                        <select asp-for="Model" class="form-control"></select>
                        <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                </div>
                <div class = "col-md-6">
                    <div class="form-group">
                        <label asp-for="Engine" class="control-label"></label>
                        <select asp-for="Engine" class="form-control"></select>
                        <span asp-validation-for="Engine" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class = "row">
                <div class = "col-md-6">
                    <div class="form-group">
                        <label asp-for="Paint" class="control-label"></label>
                        <select asp-for="Paint" class="form-control"></select>
                        <span asp-validation-for="Paint" class="text-danger"></span>
                    </div>
                </div>
                <div class = "col-md-6">
                    <div class="form-group">
                        <label asp-for="Interior" class="control-label"></label>
                        <select asp-for="Interior" class="form-control"></select>
                        <span asp-validation-for="Interior" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class = "row">
                <div class = "col-md-3">
                    <div class="form-group">
                        <label asp-for="Quantity" class="control-label"></label>
                        <input asp-for="Quantity" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class = "row">
                <div class = "col-md-3">
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class = "row">
                <div class = "col-md-12">
                    <div class="form-group">
                        <input id="insveh" type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ViewIndex">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
       <script type="text/javascript">
           $(document).ready(function () {
               GetVehicleItems();
               GetEngineItems();
               GetPaintItems();
               GetInteriorItems();
           });

/*        $(function () {
            //Remove the dummy row if data present.
            if ($("#tblCustomers tr").length > 2) {
                $("#tblCustomers tr:eq(1)").remove();
            } else {
                var row = $("#tblCustomers tr:last-child");
                row.find(".Edit").hide();
                row.find(".Delete").hide();
                row.find("span").html('&nbsp;');
            }
        });
        function AppendRow(row, customerId, name, country) {
            //Bind CustomerId.
            $(".CustomerId", row).find("span").html(customerId);
 
            //Bind Name.
            $(".Name", row).find("span").html(name);
            $(".Name", row).find("input").val(name);
 
            //Bind Country.
            $(".Country", row).find("span").html(country);
            $(".Country", row).find("input").val(country);
 
            row.find(".Edit").show();
            row.find(".Delete").show();
 
            $("#tblCustomers").append(row);
        };
 */
        //Add event handler.
        $("body").on("click", "#insveh", function () {
            var vid =  $("#ID");
            var vehkey = $("#Model");
            var engkey = $("#Engine");
            var pkey = $("#Paint");
            var ikey = $("#Interior");
            var qoh = $("#Quantity");
            var prc = $("#Price");

            var _vehicle = {};
            //_vehicle.ID = vid.val();
            _vehicle.Model = $("select[id='Model'] option:selected").val();
            console.log(_vehicle.Model);
            _vehicle.Engine = $("select[id='Engine'] option:selected").val();
            _vehicle.Paint = $("select[id='Paint'] option:selected").val();
            _vehicle.Interior = $("select[id='Interior'] option:selected").val();
            _vehicle.Quantity = qoh.val();
            _vehicle.Price = prc.val();

            console.log(_vehicle);

            $.ajax({
                type: "POST",
                url: "/VehicleView/InsertNewVehicle",
                data: JSON.stringify(_vehicle),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    console.log("Great Success!")
                    //var row = $("#tblCustomers tr:last-child");
                    //if ($("#tblCustomers tr:last-child span").eq(0).html() != "&nbsp;") {
                    //    row = row.clone();
                    //}
                    //AppendRow(row, r.CustomerId, r.Name, r.Country);
                    //txtName.val("");
                    //txtCountry.val("");
                }
            });
        });

        function GetVehicleItems() 
        {
            var items;
            $.getJSON("/VehicleView/GetBaseVehicles", function (data) {
                console.log(data);
                $.each(data, function (key, val) 
                {
                    items += "<option value='" + val.id+ "'>" + val.model+ "</option>";    
                });
                $('#Model').append(items);
            });
        };

        function GetEngineItems() 
        {
            var items;
            $.getJSON("/VehicleView/GetEngines", function (data) {
                console.log(data);
                $.each(data, function (key, val) 
                {
                    items += "<option value='" + val.id+ "'>" + val.engineSpec+ "</option>";    
                });
                $('#Engine').append(items);
            });
        };

        function GetPaintItems() 
        {
            var items;
            $.getJSON("/VehicleView/GetPaints", function (data) {
                console.log(data);
                $.each(data, function (key, val) 
                {
                    items += "<option value='" + val.id+ "'>" + val.paintName+ "</option>";    
                });
                $('#Paint').append(items);
            });
        };

        function GetInteriorItems() 
        {
            var items;
            $.getJSON("/VehicleView/GetInteriors", function (data) {
                console.log(data);
                $.each(data, function (key, val) 
                {
                    items += "<option value='" + val.id+ "'>" + val.interiorName+ "</option>";    
                });
                $('#Interior').append(items);
            });
        };

 /*
        //Edit event handler.
        $("body").on("click", "#tblCustomers .Edit", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    $(this).find("input").show();
                    $(this).find("span").hide();
                }
            });
            row.find(".Update").show();
            row.find(".Cancel").show();
            row.find(".Delete").hide();
            $(this).hide();
        });
 
        //Update event handler.
        $("body").on("click", "#tblCustomers .Update", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    span.html(input.val());
                    span.show();
                    input.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Delete").show();
            row.find(".Cancel").hide();
            $(this).hide();
            var _customer = {};
            _customer.CustomerId = row.find(".CustomerId").find("span").html();
            _customer.Name = row.find(".Name").find("span").html();
            _customer.Country = row.find(".Country").find("span").html();
            $.ajax({
                type: "POST",
                url: "/api/AjaxAPI/UpdateCustomer",
                data: JSON.stringify(_customer),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });
        });
 
        //Cancel event handler.
        $("body").on("click", "#tblCustomers .Cancel", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    input.val(span.html());
                    span.show();
                    input.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Delete").show();
            row.find(".Update").hide();
            $(this).hide();
        });
 
        //Delete event handler.
        $("body").on("click", "#tblCustomers .Delete", function () {
            if (confirm("Do you want to delete this row?")) {
                var row = $(this).closest("tr");
                var _customer = {};
                _customer.CustomerId = row.find("span").html();
                $.ajax({
                    type: "POST",
                    url: "/api/AjaxAPI/DeleteCustomer",
                    data: JSON.stringify(_customer),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if ($("#tblCustomers tr").length > 2) {
                            row.remove();
                        } else {
                            row.find(".Edit").hide();
                            row.find(".Delete").hide();
                            row.find("span").html('&nbsp;');
                        }
                    }
                });
            }
        }); */



    </script>

}
