/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
    color: #FFFFFF;
    text-align: center;
    background-color: #008080;
    border-color: #033E3E
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #033E3E
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-family: monospace !important; 
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion .contentBx .label ::before {
        content: '\02795'; 
        position: absolute;
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
}

.accordion .contentBx.active .label::after {
    content: "\2796"; 
}

.accordion .contentBx .content {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s
}

.accordion .contentBx.active .content {
    height: 150px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

/*.h1 {
    font-family: 'Mongolian Baiti' !important;
    color: #1F2F57 !important;
    font-size: 2.5rem !important;
}*/

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #6091C3;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
